:root {
  --HeaderBackground: linear-gradient(
    to right,
    #d2d733,
    #d9dd2d,
    #e0e326,
    #e7e81d,
    #eeee10
  );
  --HeaderBoxshadow: rgba(197, 197, 202, 0.2) 0px 2px 20px 0px;
  --linkColor: #335981;
  --navActive: #e43011;
  --WhiteColor: #ffffffff;
  --SecondaryBlue: #355d89;
  --buttonBlue: #4789cf;
  --circleShadow: #0000004d 4px 8px 4px;

  --one-point-cero-two: 1.02rem;
  --one-point-five: 1.5rem;
  --one-point-four: 1.4rem;
}

.compare-area {
  position: sticky;
  top: 0;
  z-index: 3;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  background: var(--HeaderBackground);
  box-shadow: var(--HeaderBoxshadow);
}

.text-tittle {
  display: block;
  margin: 0rem 0rem 0rem 2rem;
  padding: 0.5rem;
  width: 15rem;
  height: 7rem;
}

.routes {
  position: relative;
  left: 4.5rem;
  bottom: 0.5rem;
  width: 11rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.linkColor {
  text-decoration: none;
  font-weight: 600;
  font-size: var(--one-point-cero-two);
  color: var(--linkColor);
}

.linkColor:hover {
  color: var(--WhiteColor);
}

.navActive {
  color: var(--navActive);
}

.hamburguer-icon {
  display: none;
}

@media (max-width: 850px) {
  .text-tittle {
    margin: auto;
  }
  .routes {
    top: 0.2rem;
    left: 0.5rem;
  }
  .principal-tittle {
    margin: auto;
  }
  .header {
    flex-direction: column;
  }
  .container {
    margin: auto;
    position: absolute;
    width: 100%;
    left: -170%;
    height: 0;
    transition: 0.5s all ease-in;
  }
  .container-active {
    margin: auto;
    position: absolute;
    width: 100%;
    left: 0;
    height: 100%;
    transition: 0.5s all ease-in;
  }
  .hamburguer-icon {
    display: block;
    position: relative;
    left: 14rem;
    bottom: 1.5rem;
    border-radius: 2px;
    font-size: var(--one-point-five);
    color: var(--linkColor);
  }
  .hamburguer-icon:hover {
    color: var(--WhiteColor);
  }
  .hamburguer-active {
    color: var(--navActive);
  }
}

.search {
  margin: 1rem 3rem 0rem 5rem;
  text-align: center;
}
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form .text,
.form .input,
.form .button {
  margin-bottom: 0.6rem;
}
.container .text {
  margin-bottom: 0.3rem;
  color: var(--WhiteColor);
  text-shadow: 3px 0 3px var(--SecondaryBlue);
  font-size: var(--one-point-four);
  font-weight: 700;
}
.form .input {
  margin-right: 1rem;
  width: 15rem;
  height: 2.5rem;
  border: 2px solid var(--SecondaryBlue);
  border-radius: 10px;
  color: var(--SecondaryBlue);
  font-weight: 600;
}
::placeholder {
  position: relative;
  left: 1rem;
  color: var(--SecondaryBlue);
  opacity: 0.6;
  text-decoration: none;
}
.form .button {
  width: 8rem;
  height: 2.5rem;
  border-radius: 10px;
  border-style: none;
  color: var(--WhiteColor);
  font-weight: 900;
  background: var(--buttonBlue);
}

.pokemonimg {
  display: none;
  visibility: hidden;
}

.pokemonimg-active {
  position: relative;
  display: block;
  visibility: visible;
  border: 1px solid var(--SecondaryBlue);
  box-shadow: var(--circleShadow);
  border-radius: 50%;
  width: 4.5rem;
  bottom: 0.5rem;
  right: 0.5rem;
  transition: visibility 7s ease;
}

@media (max-width: 544px) {
  .form {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 370px) {
  .input-container {
    flex-direction: column;
    align-items: center;
  }
}
