:root {
  --greyColor: #9c9c9c99;
  --cardBackground: linear-gradient(
    to right,
    #d2d733,
    #d9dd2d,
    #e0e326,
    #e7e81d,
    #eeee10
  );
  --border-black-color: #000000;
  --text-red-color: #e43011;
  --general-white-color: #ffffffff;
  --compare-blue-color: #295597;

  --one-point-one-size: 1.1rem;
  --one-point-two-size: 1.2rem;
}

.hidden {
  display: none;
}

.bodyChart{
  overflow: scroll;
  cursor: auto;
}

.container-chart {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
  background-color: var(--greyColor);
  overflow: scroll;
  cursor: pointer;
}

.pokecard-container {
  background: var(--cardBackground);
  margin: 1rem auto 4rem auto;
  padding: 1rem;
  width: 40%;
  border-radius: 10px;
  border: 2px solid var(--border-black-color);
  overflow: scroll;
  cursor: auto;
}

@media screen and (max-width: 540px) {
  .pokecard-container {
    width: 85%;
  }
}

@media screen and (min-width: 541px) and (max-width: 1100px) {
  .pokecard-container {
    width: 60%;
  }
}

.closeChartButton {
  margin-left: 1rem;
  width: 2rem;
  height: 2.2rem;
  font-weight: 800;
  color: var(--text-red-color);
  background-color: var(--general-white-color);
}

.headerChart {
  padding: 0.5rem;
  width: 100%;
  position: relative;
  border-bottom: 1px solid var(--border-black-color);
}

.comparison-area {
  font-weight: 600;
  font-size: var(--one-point-one-size);
}

.compareButton {
  margin-left: 1rem;
  margin-bottom: 0.7rem;
  width: 10rem;
  height: 2.3rem;
  font-size: var(--one-point-one-size);
  font-weight: 700;
  color: var(--compare-blue-color);
}

.show-image {
  margin: auto;
  width: 30%;
  margin-top: 1rem;
  border-radius: 50%;
}

.image {
  margin: auto;
  width: 10rem;
  height: auto;
}

.pokemon-personalData {
  width: 100%;
}

.pokemon-description {
  width: 70%;
  margin: auto;
  text-align: center;
  font-weight: 700;
}

.data {
  text-align: center;
  margin: auto;
  margin-top: 1rem;
  font-weight: 800;
  color: var(--text-red-color);
}

.data .box {
  margin-left: 1rem;
}

.show-data .box {
  margin-left: 1rem;
}

.show-data {
  text-align: center;
  margin: auto;
  font-weight: 500;
}

.flex-informations {
  margin: auto;
  margin-top: 1rem;
  display: flex;
  align-content: space-between;
  align-items: baseline;
}

.abilities {
  margin-left: 2rem;
  margin-right: 5rem;
}

.flex-informations .box {
  font-weight: 800;
  color: var(--text-red-color);
}

.stats .box {
  text-align: center;
  margin-left: 2rem;
  font-weight: 800;
  font-size: var(--one-point-two-size);
}
