:root {
  --greyColor: rgba(156, 156, 156, 0.6);
  --cardBackground: linear-gradient(
    to right,
    #d2d733,
    #d9dd2d,
    #e0e326,
    #e7e81d,
    #eeee10
  );
  --border-black-color: #000000;
  --text-red-color: #e43011;
  --general-white-color: #ffffffff;

  --one-point-one-size: 1.1rem;
  --one-point-two-size: 1.2rem;
  --cero-point-nine-size: 0.9rem;
}


.bodyChart{
  overflow: scroll;
}

.versus-names {
  padding: 0.5rem;
  width: 100%;
  font-size: var(--one-point-two-size);
  font-weight: 800;
  border-bottom: 1px solid var(--border-black-color);
}

.pokecard-compare-container {
  background: var(--cardBackground);
  margin: 1rem 0rem 2rem 0rem;
  padding: 1rem;
  width: 40%;
  border-radius: 10px;
  border: 2px solid var(--border-black-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

@media screen and (max-width: 400px) {
  .versus-names {
    font-size: var(--cero-point-nine-size);
  }
}

@media screen and (max-width: 700px) {
  .pokecard-compare-container {
    width: 95%;
  }
  .central-dates .box {
    font-size: var(--cero-point-nine-size);
  }
}

@media screen and (min-width: 701px) and (max-width: 1100px) {
  .pokecard-compare-container {
    width: 60%;
  }
}

.compare-close-button {
  margin-left: 4rem;
  width: 2rem;
  font-weight: 700;
  color: var(--text-red-color);
  background-color: var(--general-white-color);
}

.images-box {
  margin: auto;
  display: flex;
  align-content: space-between;
  align-items: center;
}

.image-compare {
  width: 12rem;
  height: auto;
}

.compare-container-chart {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
  background-color: var(--greyColor);
  overflow: scrollbox;
}

.pokemons-compare-data {
  display: flex;
  align-content: space-between;
  margin-bottom: 3rem;
}

.central-dates {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: flex;
  flex-direction: column;
  font-weight: 800;
  color: var(--text-red-color);
}

.central-dates .box {
  margin-top: 1rem;
  font-size: var(--one-point-two-size);
}

.dates .boxes {
  margin-top: 1rem;
  font-size: var(--one-point-two-size);
  font-weight: 600;
}

.dates {
  margin: auto;
  display: flex;
  flex-direction: column;
}
